*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* console.log for css */
    /* outline: 1px solid lime; */
    
}
body{
    top: 0 !important;
    background-color: whitesmoke;
}
.skiptranslate{
    display: none;
}
.skiptranslate.goog-te-gadget{
    display: block !important;
}
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=font:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-font: font;
  --font-abeezee: ABeeZee;
  --font-abel: Abel;
  --font-alegreya-sans-sc: "Alegreya Sans SC";
  --font-adamina: Adamina;
  --font-abhaya-libre: "Abhaya Libre";
  --font-almarai: Almarai;

  /* font sizes */
  --font-size-xs: 20px;
  --font-size-sm: 22px;
  --font-size-base: 25px;
  --font-size-lg: 30px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #3c37ff;

  /* border radiuses */
  --br-md: 10px;
}
